
services:
{% for module in modules_to_deploy %}
  {{ module.name }}:
    image: "{{ module.image }}"
    restart: always
    networks:
{% for network in module.networks %}
      - {{ project_name}}_{{ network }}
{% endfor %}
    environment:
{% for key, value in module.environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% if module.command | default(false) %}
    command: {{ module.command }}
{% endif %}
{% if module.volumes %}
    volumes:
{% for volume in module.volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
    expose:
      - {{ module.internal_port | default('80')}}
    deploy:
      replicas: {{ module.replicas | default('1')}}
      resources:
        limits:
          memory: "{{ module.resources.memory | default('512M') }}"
          cpus: "{{ module.resources.cpu | default('0.5') }}"
{% endfor %}

{% if network_values %}
networks:
{% for network in network_values %}
  {{ project_name}}_{{ network }}:
    driver: bridge
    external: true
{% endfor %}
{% endif %}
