{% set container_name = project_name + '-' + item.name %}

# HTTP only (no SSL)
upstream {{ container_name }} {
    server {{ item.name }}:{{ item.internal_port }};
}

server {
    listen 80;
    {% if item.server_name is defined %}
    server_name {{ item.server_name }};
    {% endif %}

    location /.well-known/acme-challenge/ {
            root /var/www/html;
            try_files $uri =404;
        }

    location / {
        proxy_pass http://{{ container_name }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}